body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
}
.grid-gallery-item_check-button{
  visibility: visible !important;
}

[data-testid="grid-gallery-item_check-button"] {
  /* tus estilos personalizados aquí */
  visibility: visible !important;
}